<form #formInfo="ngForm"
      (ngSubmit)="onSubmit()">

  Rover :
  <select name="rover" [(ngModel)]="data.rover"
          (ngModelChange)="data.camera = undefined"
          (ngModelChange)="data.sol = undefined"
          required
          #roverInfo="ngModel"
          >
    <option [ngValue]="undefined"></option>
    <option *ngFor="let rover of roverList$ | async" [ngValue]="rover">{{rover.name}}</option>
  </select>

  Caméra :
  <select name="roverCam" [(ngModel)]="data.camera">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let cam of data.rover?.cameras" [ngValue]="cam">{{cam.name}}</option>
  </select>

  Sol :
  <input type="number" name="sol" [(ngModel)]="data.sol">

  <button type="submit" [disabled]="formInfo.invalid">Rechercher</button>
  <span *ngIf="roverInfo.invalid">Vous devez choisir un rover.</span>
  {{ data.rover?.name }} {{data.camera?.name}} {{data.sol}}
</form>
